dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.473)
}

#game-menu {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 80%;
    height:80%;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    span {
        color: rgba($color: #167ccf5e, $alpha: 1.0);
        text-shadow: 3px 3px orange;
    }
    .key span {
        color:red;
        text-shadow: 2px 2px white;
    }
    z-index: 600;
}
#welcome-msg{
    font-size: 100px;
}

#open-menu, #game-start-btn {
    margin:20px;
    padding:10px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    background-color:rgba($color: #1960a154, $alpha: 0.3);
    border: 2px solid blue;
}

.game-diff-ctn {
    width:50%;
    list-style: none;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    li {
        width: 50%;
        border: 2px solid navy;
        box-shadow: 3px 3px rgba($color: #a3d8df, $alpha: 0.3);
        background-color: rgba($color: #9286863a, $alpha: 0.3);
    }
    li:hover {
        color: rgba($color: #167ccf5e, $alpha: 1.0);
        border-radius: 2px;
        background-color: orange;
        border: 2px solid black;
    }
    .difficulty-selected {
        background-color: rgba($color: #9286863a, $alpha: 1.0);
        border: 1px solid navy;
        box-shadow: 3px 3px orange;
    }
}