$title-color: rgba($color: #248de45e, $alpha: 1.0);
$title-shadow: 4px 4px orange;

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .header {
        width: 100%;
        height: 100px;
        background-color: #08148665;
        margin-bottom: 20px;
        border-bottom: 8px ridge navajowhite;
        display: flex;
        align-items: center;
        justify-content: center;
        #game-name {
            width: 800px;
            border-radius: 5px;
            border: 1px solid white;
            background-color: rgba(150, 181, 202, 0.61);
            box-shadow: 2px 2px rgba(9, 9, 204, 0.459);
            font-size: 70px;
            color: $title-color;
            text-shadow: $title-shadow;
            -webkit-text-stroke: 1px white;
        }
    }
    .body-container {
        display: flex;
        
        justify-content: space-around;
        align-content: center;
        vertical-align: middle;
        // align-items: center;

        .left-container {
            font-size: 30px;
            width: 20%;
            display:flex;
            flex-wrap: wrap;
            // align-content: space-evenly;
            align-content: center;
            background-color: rgba($color: #088d7b9c, $alpha: 0.5);
            border-radius: 10px;
            border: 8px ridge navajowhite;
            color: whitesmoke;
            text-shadow: 2px 2px rgba($color: #fafafa42, $alpha: 0.4);
            .player-health-container, .game-difficulty-display, .enemy-count-display {
                width: 80%;
                margin: 5%;
                padding: 3%;
                padding-bottom: 6%;
                border-radius: 5px;
                border: 2px ridge;
                box-shadow: 2px 2px rgba($color: #fafafa42, $alpha: 0.4);;
                background-color: rgba($color: #0000006e, $alpha: 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .player-health-container {
                align-self: flex-start;
                height: 420px;
                .hp-info {
                    display: flex;
                    font-size: 30px;
                    display: flex;
                    text-shadow: 2px 2px rgba($color: #fafafa42, $alpha: 0.4);
                    p {
                        color: lime;
                    }
                    #hp-stat {
                        color: whitesmoke;
                    }
                }
                #player-hp-bar{
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 2px solid;
                    border-radius: 4px;
                    box-shadow:3px 3px grey;
                    background-color: grey;
                    width: 40px;
                    height: 380px;
                    justify-content: flex-end;
                    li {
                        border-radius: 5px;;
                        margin: 2px;
                        list-style: none;
                        width:30px;
                        height: 10px;
                        list-style: none;
                        background-image: linear-gradient(to bottom right, limegreen, greenyellow);
                        border: 3px groove rgb(3, 156, 3);
                        box-shadow: 2px 2px rgba($color: #dd7a08d5, $alpha: 0.8);
                    }
                }
            }

            .game-difficulty-display {
                align-self: center;
                flex-direction: row;
                justify-content: space-evenly;
                p {
                    color: yellow;
                }
            }

            .enemy-count-display {
                align-self: flex-baseline;
                flex-direction: row;
                justify-content: space-evenly;
                p {
                    color: red;
                }
            }
        }

        .right-container {
            font-size: 30px;
            width: 20%;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba($color: #088d7b9c, $alpha: 0.5);
            border-radius: 10px;
            border: 8px ridge navajowhite;
            color: whitesmoke;
            text-shadow: 2px 2px rgba($color: #fafafa42, $alpha: 0.4);


            .links {
                width: 80%;
                margin: 5%;
                padding: 3%;
                border-radius: 5px;
                border: 2px ridge;
                box-shadow: 2px 2px rgba($color: #fafafa42, $alpha: 0.4);;
                background-color: rgba($color: #0000006e, $alpha: 0.5);
                display: flex;
                flex-direction: column;
                padding-top: 20%;
                padding-bottom: 20%;
                
                p {
                    color: white;
                }
                a {
                    text-decoration: none;
                }
                div {
                    color: rgb(8, 26, 75);

                }
            }
            .abouts {
                width: 80%;
                margin: 5%;
                padding-top: 20%;
                padding-bottom: 20%;
                border-radius: 5px;
                border: 2px ridge;
                box-shadow: 2px 2px rgba($color: #fafafa42, $alpha: 0.4);;
                background-color: rgba($color: #0000006e, $alpha: 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 20px;
            }
        }


    }
}
