@import "./styles/css_reset.scss";
@import "./styles/page.scss";
@import "./styles/modal_menu.scss";

@font-face {
    font-family: ThaleahFat;
    src: url(../src/assets/font/ThaleahFat.ttf);
}

$game-color: teal;
$game-font: ThaleahFat;

body {
    background: url("../src/assets/images/background/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: $game-font;
}

#canvas{
    background-color: $game-color;
    border: 4px ridge navajowhite;
    border-top: 0px;

    // width: 800px;
    // height: 500px;
}
